@import url('https://rsms.me/inter/inter.css');
body {
	background-color: #212121;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 35vh;
}

.disclaimer {
	color: #f4f4f4;
	font-family: 'Inter', sans-serif;
	font-size: 1.3em;
	padding: 2em;
}